<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebPages</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/FontAwesome/css/all.css" />
    <link rel="stylesheet" href="~/sass/layout.css" />
    <link rel="stylesheet" href="~/sass/general.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Astloch' rel='stylesheet'>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    @RenderSection("Styles", false)
</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container">
                <a class="logo total-white-link col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" asp-area="" asp-controller="Home" asp-action="Index"></a>
                <button class="navbar-toggler" style="color: white" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="navbar-toggler-icon fa fa-bars"></i>
                </button>
                <div class="navbar-collapse collapse show">
                    <ul class="navbar-nav ml-auto row">
                        <li class="nav-item active dropdown col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                            <div class="btn-group">
                                <a id="call-list" class="total-white-link" asp-area="" asp-controller="Product" asp-action="List" asp-route-searchString="">
                                    <div class="text-container">
                                        <div class="centered-element">
                                            Products
                                        </div>
                                    </div>
                                </a>
                                <button type="button" class="dropdown-toggle dropdown-toggle-split button-dropdown"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="List" asp-route-CategoryFilter="DRIVER">Pilots</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="List" asp-route-CategoryFilter="RACEENGINEER">Engineers</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="List" asp-route-CategoryFilter="TECHNICALCHIEF">Mechanics</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="List" asp-route-CategoryFilter="PRINCIPAL">Principals</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="List" asp-route-CategoryFilter="POWERUNIT">Power units</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
                            <div class="s005">
                                <fieldset style="width:100%; max-height:30px;">
                                    <form class="form-searchbar" asp-controller="Product" asp-action="List" method="get">
                                        <div class="inner-form">
                                            <div class="input-field">
                                                <input class="form-control"
                                                       id="choices-text-preset-values"
                                                       type="text" />
                                                <button class="btn-search" type="button" onclick="callList()">
                                                    <i class="fa fa-search fa-align-center"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </fieldset>
                            </div>
                        </li>
                        <li class="nav-item col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                            <a class="btn-login button-header total-white-link" asp-area="" asp-controller="Product" asp-action="Cart">
                                <div class="text-container">
                                    <div class="centered-element">
                                        Cart <i class="fa fa-cart-shopping"></i>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                            @if (!User.Identity.IsAuthenticated) {
                                <a class="btn-login button-header total-white-link" asp-area="" asp-controller="Account" asp-action="Login">
                                    <div class="text-container">
                                        <div class="centered-element">
                                            Login <i class="fa fa-user"></i>
                                        </div>
                                    </div>
                                </a>
                            }
                            else {
                                <a class="btn-login button-header total-white-link" asp-area="" asp-controller="Account" asp-action="Logout">
                                    <p><i class="fa fa-user"></i>Logout</p>
                                </a>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="content" class="container-fluid" style="margin-top:20px">
        @RenderBody()
    </div>

    <footer class="total-white-link">
        <div class="container">
            <hr style="margin-top:8px; margin-bottom:8px;" />
            <div class="row">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <h4>LeMadrid Corp.</h4>
                </div>
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <a class="total-white-link" asp-area="" asp-controller="Home" asp-action="About">About LeMadric</a>
                    <p>Who is behind LeMadrid Corporation</p>
                </div>
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <a class="total-white-link" asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a>
                    <p>Having a question to the LeMadrid Team?</p>
                </div>
            </div>
        </div>
        <hr style="margin-top:8px; margin-bottom:8px;" />
        <div class="row">
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <p>Copyright © 2022 LeMadrid Corporation</p>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <p></p>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/js/theme-switch.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/js/choices.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript">
        AOS.init();
        var textPresetVal = new Choices('#choices-text-preset-values', { removeItemButton: true, });

        function returnArray() {
            const inner = document.querySelector('.choices__inner');

            const listText = [];

            if (inner.hasChildNodes()) {
                const list = document.querySelector('.choices__list--multiple');
                if (list.hasChildNodes()) {
                    for (child = list.firstChild; child != undefined; child = child.nextElementSibling) {
                        var text = $(child).attr('data-value');
                        listText.push(text);
                    }
                    return listText;
                }
                else {
                    return [];
                }
            }
            else {
                return [];
            }
        }

        function callList() {
            $("#call-list").attr('href', '/Product/List?searchString=' + returnArray());
            const button = document.getElementById('call-list');
            button.click();
        }
    </script>
</body>
</html>
