<!DOCTYPE html>
<html lang="en-ca">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebPages</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/FontAwesome/css/all.css" />
    <link rel="stylesheet" href="~/sass/layout.css" />
    <link rel="stylesheet" href="~/sass/general.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Astloch' rel='stylesheet'>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js" charset="utf-8"></script>

    @RenderSection("Styles", false)
</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container">
                <a class="logo total-white-link col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" asp-area="" asp-controller="Home" asp-action="Index"></a>
                <button class="navbar-toggler" style="color: white" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="navbar-toggler-icon fa fa-bars"></i>
                </button>
                <div class="navbar-collapse collapse show">
                    <ul class="navbar-nav ml-auto row">
                        <li class="nav-item active dropdown col-9 col-sm-9 col-md-9 col-lg-2 col-xl-2">
                            <div class="btn-group">
                                <a id="call-list" class="total-white-link" asp-area="" asp-controller="Product" asp-action="List" asp-route-searchString="">
                                    <div class="text-container">
                                        <div class="centered-element">
                                            Products
                                        </div>
                                    </div>
                                </a>
                                <button type="button" class="dropdown-toggle dropdown-toggle-split button-dropdown"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="List" asp-route-CategoryFilter="DRIVER">Pilots</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="List" asp-route-CategoryFilter="RACEENGINEER">Engineers</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="List" asp-route-CategoryFilter="TECHNICALCHIEF">Mechanics</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="List" asp-route-CategoryFilter="PRINCIPAL">Principals</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="List" asp-route-CategoryFilter="POWERUNIT">Power units</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item col-9 col-sm-9 col-md-9 col-lg-5 col-xl-6">
                            <div class="s005">
                                <fieldset style="width:100%; max-height:30px;">
                                    <form class="form-searchbar" asp-controller="Product" asp-action="List" method="get">
                                        <div class="inner-form">
                                            <div class="input-field">
                                                <input class="form-control"
                                                       id="choices-text-preset-values"
                                                       type="text" />
                                                <button class="btn-search" type="button" onclick="callList()">
                                                    <i class="fa fa-search fa-align-center"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </fieldset>
                            </div>
                        </li>
                        <li class="nav-item col-9 col-sm-9 col-md-9 col-lg-2 col-xl-2">
                            <div class="btn-login button-header total-white-link" onclick="callCart()">
                                <div class="text-container">
                                    <div class="centered-element">
                                        Cart <i class="fa fa-cart-shopping"></i>
                                    </div>
                                </div>
                            </div>
                            <a id="cart-link" style="display:none; width:auto%; height: 0%" asp-area="" asp-controller="Product" asp-action="Cart" asp-route-ProductId=""></a>
                        </li>
                        <li class="nav-item col-9 col-sm-9 col-md-9 col-lg-2 col-xl-2">
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <a class="btn-login button-header total-white-link" asp-area="" asp-controller="Account" asp-action="Login">
                                    <div class="text-container">
                                        <div class="centered-element">
                                            Login <i class="fa fa-user"></i>
                                        </div>
                                    </div>
                                </a>
                            }
                            else
                            {
                                <div class="dropdown">
                                    <button class="btn-login button-header total-white-link">Account</button>
                                    <div class="dropdown-content">
                                        <a asp-area="" asp-controller="Account" asp-action="Details">My account</a>
                                        <a asp-area="" asp-controller="Account" asp-action="Commands">My commands</a>
                                        <a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                                    </div>
                                </div>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="content" class="container-padding" style="margin-top:20px;">
        @RenderBody()
    </div>

    <footer class="total-white-link">
        <div class="container">
            <hr style="margin-top:8px; margin-bottom:8px;" />
            <div class="row">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <h4>LeMadrid Corp.</h4>
                </div>
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <a class="total-white-link" asp-area="" asp-controller="Home" asp-action="About">About LeMadric</a>
                    <p>Who is behind LeMadrid Corporation</p>
                </div>
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <a class="total-white-link" asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a>
                    <p>Having a question to the LeMadrid Team?</p>
                </div>
            </div>
        </div>
        <hr style="margin-top:8px; margin-bottom:8px;" />
        <div class="row" style="width:100%">
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <p>Copyright © 2022 LeMadrid Corporation</p>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <p></p>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/theme-switch.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/js/choices.js"></script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            var prod = getCart();
            console.log(prod);

            if (prod != null) {
                prod.forEach(hideAlready);

                function hideAlready(item) {
                    item = item.slice(1);
                    item = item.slice(0, item.indexOf(';'));
                    console.log(item);
                    var name = 'cart-' + item;
                    if (document.body.contains(document.getElementById(name))) {
                        let button = document.getElementById(name);
                        button.innerHTML = "Already in the Cart";
                    }
                }
            }
        });

        var textPresetVal = new Choices('#choices-text-preset-values', { removeItemButton: true, });

        function returnArray() {
            const inner = document.querySelector('.choices__inner');

            const listText = [];

            if (inner.hasChildNodes()) {
                const list = document.querySelector('.choices__list--multiple');
                if (list.hasChildNodes()) {
                    for (child = list.firstChild; child != undefined; child = child.nextElementSibling) {
                        var text = $(child).attr('data-value');
                        listText.push(text);
                    }
                    return listText;
                }
                else {
                    return [];
                }
            }
            else {
                return [];
            }
        }

        function callList() {
            $("#call-list").attr('href', '/Product/List?searchString=' + returnArray());
            const button = document.getElementById('call-list');
            button.click();
        }

        /*
            Cart
        */
        function preAddingCart(id, name) {
            if (document.getElementById("cart-" + id).innerHTML.includes(" Add to Cart ")) {
                $.confirm({
                    title: 'Confirmation',
                    content: 'Do you really want to add ' + name + ' to the cart?',
                    buttons: {
                        yes: {
                            btnClass: 'btn-confirmation',
                            action: function () {
                                if(addCart(id) == true)
                                {
                                    $.alert(name + ' added to the cart!');
                                }
                            }
                        },
                        no: {
                            btnClass: 'btn-confirmation'
                        }
                    }
                });
            }
        }

        function askLogin(total, totalDiscount, totalWithDiscount, totalWithTaxes) {
                $.confirm({
                    title: 'Login',
                    content: 'Do you want to login to make your command?',
                    buttons: {
                        yes: {
                            btnClass: 'btn-confirmation',
                            action: function () {
                                document.getElementById('login-link').click();
                            }
                        },
                        no: {
                            btnClass: 'btn-confirmation',
                            action: function () {
                                var products = window.localStorage.Products;
                                var array = JSON.parse(products);
                                $('#command-link').attr('href', '/Product/Command?ProductId=' + JSON.stringify(array) + '&total='  + total + '&totalDiscount='  + totalDiscount + '&totalWithDiscount='  + totalWithDiscount + '&totalWithTaxes='  + totalWithTaxes);
                                document.getElementById('command-link').click();
                            }
                        }
                    }
                });
        }

        function addCart(productId) {
            var products = getCart();
            var result;
            if (products == null) {
                products = [];
                products.push({ id: productId, contract: 1 });
            }
            else {
                if (products.find(obj => obj.id == productId)) {
                    $.alert('This item is already in your cart!');
                    result = false;
                }
                else {
                    products.push({ id: productId, contract: 1 });
                    result = true;
                }
            }

            localStorage.setItem('Products', JSON.stringify(products));
            return result;
        }

        function preAddingCartWithDuration(id, name, max) {
            if (document.getElementById("cart-" + id).innerHTML.includes(" Add to Cart ")) {
                $.confirm({
                    title: 'Confirmation',
                    content: 'Do you really want to add ' + name + ' to the cart?',
                    buttons: {
                        yes: {
                            btnClass: 'btn-confirmation',
                            action: function () {
                                var x = document.getElementById('quantity').value;
                                console.log(typeof(x))
                                if (x === "")
                                {
                                    x = 1;
                                }
                                if (x > max)
                                {
                                    x = max;
                                }
                                if(addCartWithDuration(id, x) == true)
                                {
                                    $.alert(name + ' added to the cart!');
                                }
                            }
                        },
                        no: {
                            btnClass: 'btn-confirmation'
                        }
                    }
                });
            }
        }

        function DisableButton() {
                    console.log('Disabling...')
                    document.getElementById('submit-btn').disabled = true;
                    document.getElementById('submit-btn').innerHTML = 'Please wait for the confirmation';
                }

        function EnableButton() {
                    console.log('Enabling...')
                    document.getElementById('submit-btn').disabled = false;
                    document.getElementById('submit-btn').innerHTML = 'Confirm';
                }

        function addCartWithDuration(productId, duration) {
            var products = getCart();
            var result;
            console.log(duration)
            console.log(duration)
            console.log(duration)
            console.log(duration)
            if (products == null) {
                products = [];
                products.push({ id: productId, contract: duration });
            }
            else {
                if (products.find(obj => obj.id == productId)) {
                    $.alert('This item is already in your cart!');
                    result = false;
                }
                else {
                    products.push({ id: productId, contract: duration });
                    result = true;
                }
            }

            localStorage.setItem('Products', JSON.stringify(products));
            return result;
        }

        function removeCart(productId) {
            var products = getCart();
            var newProd = []

            if (products.find(obj => obj.id == productId)) {
                const index = products.map(e => e.id).indexOf(productId);

                products.forEach(function (item) {
                    if (item.id != productId) {
                        newProd.push(item);
                    }
                })



                if (newProd.length > 0) {
                    localStorage.setItem('Products', JSON.stringify(newProd));
                }
                else {
                    window.localStorage.clear();
                }

            }
        }

        function incrementCart(productId, max) {
            var products = getCart();

            if (products != null) {
                const newProd = products.map(obj => {
                    if (obj.id === productId) {
                        var number = obj.contract;
                        if (obj.contract < max) {
                            number = number + 1;
                        }

                        return {...obj, contract: number };
                    }

                    return obj;
                });

                localStorage.setItem('Products', JSON.stringify(newProd));
            }
        }

        function decrementCart(productId) {
            var products = getCart();
            const min = 1;

            if (products != null) {
                const newProd = products.map(obj => {
                    if (obj.id === productId) {
                        var number = obj.contract;
                        if (obj.contract > min) {
                            number = number - 1;
                        }

                        return {...obj, contract: number };
                    }

                    return obj;
                });

                localStorage.setItem('Products', JSON.stringify(newProd));
            }
        }

        function returnCart() {
            const number = getCart();

            if (number == null) {
                return '0';
            }

            return number.length;
        }

        function getCart() {
            var products = window.localStorage.Products;
            if (products != null) {
                var array = JSON.parse(products);
                return array;
            }
            return null;
        }

        function callCart() {
            var rep = getCart();

            if (rep == null)
                rep = '';

            $('#cart-link').attr('href', '/Product/Cart?ProductId=' + JSON.stringify(rep));
            document.getElementById('cart-link').click();
        }
    </script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({});
    </script>
</body>
</html>
