<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebPages</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/FontAwesome/css/all.css" />
    <link rel="stylesheet" href="~/sass/layout.css" />
    <link rel="stylesheet" href="~/sass/general.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Astloch' rel='stylesheet'>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    @RenderSection("Styles", false)
</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container">
                <a class="logo total-white-link col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" asp-area="" asp-controller="Home" asp-action="Index"></a>
                <button class="navbar-toggler" style="color: white" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="navbar-toggler-icon fa fa-bars"></i>
                </button>
                <div class="navbar-collapse collapse show">
                    <ul class="navbar-nav ml-auto row">
                        <li class="nav-item active dropdown col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                            <div class="btn-group">
                                <a id="call-list" class="total-white-link" asp-area="" asp-controller="Product" asp-action="List" asp-route-searchString="">
                                    <div class="text-container">
                                        <div class="centered-element">
                                            Products
                                        </div>
                                    </div>
                                </a>
                                <button type="button" class="dropdown-toggle dropdown-toggle-split button-dropdown"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="List" asp-route-CategoryFilter="DRIVER">Pilots</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="List" asp-route-CategoryFilter="RACEENGINEER">Engineers</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="List" asp-route-CategoryFilter="TECHNICALCHIEF">Mechanics</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="List" asp-route-CategoryFilter="PRINCIPAL">Principals</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="List" asp-route-CategoryFilter="POWERUNIT">Power units</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item col-12 col-sm-12 col-md-12 col-lg-5 col-xl-6">
                            <div class="s005">
                                <fieldset style="width:100%; max-height:30px;">
                                    <form class="form-searchbar" asp-controller="Product" asp-action="List" method="get">
                                        <div class="inner-form">
                                            <div class="input-field">
                                                <input class="form-control"
                                                       id="choices-text-preset-values"
                                                       type="text" />
                                                <button class="btn-search" type="button" onclick="callList()">
                                                    <i class="fa fa-search fa-align-center"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </fieldset>
                            </div>
                        </li>
                        <li class="nav-item col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                            <div class="btn-login button-header total-white-link" onclick="callCart()">
                                <div class="text-container">
                                    <div class="centered-element">
                                        Cart <i class="fa fa-cart-shopping"></i>
                                    </div>
                                </div>
                            </div>
                            <a id="cart-link" style="display:none; width:auto%; height: 0%" asp-area="" asp-controller="Product" asp-action="Cart" asp-route-ProductId=""></a>
                        </li>
                        <li class="nav-item col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <a class="btn-login button-header total-white-link" asp-area="" asp-controller="Account" asp-action="Login">
                                    <div class="text-container">
                                        <div class="centered-element">
                                            Login <i class="fa fa-user"></i>
                                        </div>
                                    </div>
                                </a>
                            }
                            else
                            {
                                <a class="btn-login button-header total-white-link" asp-area="" asp-controller="Account" asp-action="Logout">
                                    <p><i class="fa fa-user"></i>Logout</p>
                                </a>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="content" class="container-padding" style="margin-top:20px;">
        @RenderBody()
    </div>

    <footer class="total-white-link">
        <div class="container">
            <hr style="margin-top:8px; margin-bottom:8px;" />
            <div class="row">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <h4>LeMadrid Corp.</h4>
                </div>
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <a class="total-white-link" asp-area="" asp-controller="Home" asp-action="About">About LeMadric</a>
                    <p>Who is behind LeMadrid Corporation</p>
                </div>
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <a class="total-white-link" asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a>
                    <p>Having a question to the LeMadrid Team?</p>
                </div>
            </div>
        </div>
        <hr style="margin-top:8px; margin-bottom:8px;" />
        <div class="row" style="width:100%">
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <p>Copyright © 2022 LeMadrid Corporation</p>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <p></p>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/theme-switch.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/js/choices.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var prod = getCart();
            console.log(prod);

            if (prod != null) {
                prod.forEach(hideAlready);

                function hideAlready(item) {
                    item = item.slice(1);
                    item = item.slice(0, item.indexOf(';'));
                    console.log(item);
                    var name = 'cart-' + item;
                    if (document.body.contains(document.getElementById(name))) {
                        let button = document.getElementById(name);
                        button.innerHTML = "Already in the Cart";
                    }
                }
            }
        });

        var textPresetVal = new Choices('#choices-text-preset-values', { removeItemButton: true, });

        function preAddingCart(id, name) {
            if (document.getElementById("cart-" + id).innerHTML.includes(" Add to Cart ")) {
                $.confirm({
                    title: 'Confirmation',
                    content: 'Do you really want to add ' + name + ' to the cart?',
                    buttons: {
                        yes: {
                            btnClass: 'btn-confirmation',
                            action: function () {
                                $.alert(name + ' added to the cart!');
                                addCart(id);
                            }
                        },
                        no: {
                            btnClass: 'btn-confirmation'
                        }
                    }
                });
            }
        }

        function returnArray() {
            const inner = document.querySelector('.choices__inner');

            const listText = [];

            if (inner.hasChildNodes()) {
                const list = document.querySelector('.choices__list--multiple');
                if (list.hasChildNodes()) {
                    for (child = list.firstChild; child != undefined; child = child.nextElementSibling) {
                        var text = $(child).attr('data-value');
                        listText.push(text);
                    }
                    return listText;
                }
                else {
                    return [];
                }
            }
            else {
                return [];
            }
        }

        function callList() {
            $("#call-list").attr('href', '/Product/List?searchString=' + returnArray());
            const button = document.getElementById('call-list');
            button.click();
        }

        function addCart(id) {
            var prodId = getCart();
            let verification = false;

            if (prodId == null) {
                window.localStorage.ProductId = '{' + id + ';1}';
                console.log(window.localStorage.getItem('ProductId'));
            }
            else {
                prodId.forEach(verifyId);

                function verifyId(item) {
                    if (item.includes("{" + id + ";"))
                        verification = true;
                }

                if (verification == false) {
                    window.localStorage.ProductId = prodId + ',{' + id + ';1}';
                }
                console.log(window.localStorage.getItem('ProductId'))
            }

            var name = "cart-" + id;
            if (document.body.contains(document.getElementById(name))) {
                let button = document.getElementById(name);
                button.innerHTML = "Already in the Cart";
            }
        }

        function removeCart(id) {
            var prodId = getCart();
            var production = null;

            if (prodId != null) {
                production = [];
                prodId.forEach(deleteId);

                function deleteId(item) {
                    if (!item.includes("{" + id + ";")) {
                        production.push(item);
                    }
                }

                if (production.length > 0) {
                    window.localStorage.ProductId = production;
                }
                else {
                    window.localStorage.clear();
                }
            }

            console.log(window.localStorage.ProductId);
        }

        function incrementCart(id, max) {
            var prodId = getCart();
            var production = [];

            if (prodId != null) {
                prodId.forEach(incrementId);

                function incrementId(item) {
                    if (item.includes("{" + id + ";")) {
                        var newItem = "{" + id + ";";
                        var number = id.length + 2;
                        var contractTimeStr = item.slice(number, (item.length - 1));
                        var contractTime = parseInt(contractTimeStr);

                        if (contractTime != max) {
                            contractTime++;
                        }

                        newItem += contractTime + "}";

                        production.push(newItem);
                    }
                    else {
                        production.push(item);
                    }
                }

                if (production.length > 0) {
                    window.localStorage.ProductId = production;
                }
                else {
                    window.localStorage.clear();
                }
            }
        }

        function decrementCart(id) {
            var prodId = getCart();
            const min = 1;
            var production = [];

            if (prodId != null) {
                prodId.forEach(decrementId);

                function decrementId(item) {
                    if (item.includes("{" + id + ";")) {
                        var newItem = "{" + id + ";";
                        var number = id.length + 2;
                        var contractTimeStr = item.slice(number, (item.length - 1));
                        var contractTime = parseInt(contractTimeStr);

                        if (contractTime != min) {
                            contractTime--;
                        }

                        newItem += contractTime + "}";

                        production.push(newItem);
                    }
                    else {
                        production.push(item);
                    }
                }

                if (production.length > 0) {
                    window.localStorage.ProductId = production;
                }
                else {
                    window.localStorage.clear();
                }
            }
        }

        function returnCart() {
            const number = getCart();

            if (number == null) {
                return '0';
            }

            return number.length;
        }

        function getCart() {
            var prodId = window.localStorage.ProductId;
            if (prodId != null)
                return prodId.split(',');
            return null;
        }

        function callCart() {
            var rep = localStorage.ProductId;

            if (rep == null)
                rep = '';

            console.log(rep);
            $('#cart-link').attr('href', '/Product/Cart?ProductId=' + rep);
            document.getElementById('cart-link').click();
        }
    </script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({});
    </script>
</body>
</html>
