################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LemadCorp/.vs
/LemadCorp/LemadDb/obj
/LemadCorp/LemadWeb/obj
/LemadCorp/LemadWeb/bin/Debug/net5.0
/LemadCorp/LemadDb/bin/Debug/net5.0
