
@{ ViewData["Title"] = "Confirmation"; }

@section Styles {
    <link rel="stylesheet" href="~/sass/confirmation.css" />
}

<br />
<br />
<section>
    <div class="confirmation-wrapper">
        <h2>Confirmation</h2>
        <p>Your purchase was confirmed!</p>
        <div class="float">
            <span class="text-muted">You will be redirect in <span id="countdown"></span> secondes...</span>
            <a asp-controller="Home" asp-action="Index" class="btn-return">Return</a>
        </div>
    </div>
</section>

@section scripts {
    <script>
        (function () {
            "use strict";

            $(document).ready(function () {
                let timeSec = 5;
                let countdown = $("#countdown");

                countdown.text(timeSec);
                setInterval(function () {
                    timeSec--;
                    countdown.text(timeSec);

                    if (timeSec == 0) {
                        window.location.replace("@Url.Action("Commands", "Account")")
                    }

                }, 1000);
            });
        })();
    </script>
}
