html[data-theme="light"]{
    --color-text: ...;
    --color-background-pri: ...;
    --color-background-sec: ...;
    --color-button-pri: ...;
    --color-button-sec: ...;
    --color-button-text: ...;
    --color-border: ...;
    --color-border-alt: ...;
}

html[data-theme="dark"] {
    --color-text: ...;
    --color-background-pri: ...;
    --color-background-sec: ...;
    --color-button-pri: ...;
    --color-button-sec: ...;
    --color-button-text: ...;
    --color-border: ...;
    --color-border-alt: ...;
}
