.commands_row {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.commands_row h1 {
  text-align: center;
}

.commands_table {
  width: 100%;
  border-collapse: revert;
  border-spacing: 0 10px;
}

.commands_table_head {
  text-align: center;
}

.commands_table_head tr th {
  border-bottom: 0.5px solid rgba(200, 200, 200, 0.5);
}

.commands_table_body_item td {
  padding: 1% 1%;
  border: 25px;
  box-shadow: 0px 2px rgba(200, 200, 200, 0.25);
}

.item-CONFIRMED {
  width: 0.5%;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  background: linear-gradient(135deg, #4ebd04 0%, #b5e605 100%);
}

.item-CANCELED {
  width: 0.5%;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  background: linear-gradient(135deg, #c20c02 0%, #f2b602 100%);
}

.item-status-CONFIRMED {
  border-radius: 15px;
  padding: 2%;
  text-align: center;
  color: #02ba02;
  background: white;
}

.item-status-wrapper-CONFIRMED {
  border-radius: 15px;
  margin-right: auto;
  max-width: 75%;
  position: relative;
  background: linear-gradient(135deg, #4ebd04 0%, #b5e605 100%);
  padding: 2.5px;
}

.item-status-CANCELED {
  text-align: center;
  padding: 2%;
  border-radius: 15px;
  color: #b30802;
  background: white;
}

.item-status-wrapper-CANCELED {
  border-radius: 15px;
  max-width: 100%;
  position: relative;
  background: linear-gradient(135deg, #c20c02 0%, #f2b602 100%);
  padding: 2.5px;
}

.item-btn {
  padding: 2%;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.btn-cancel,
.btn-cancel:visited,
.btn-cancel:link {
  color: white;
  background: linear-gradient(135deg, #ff554f 0%, #af0600 100%);
  border-radius: 25px;
  border: 1px solid #af0600;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn-cancel:hover,
.btn-cancel:visited:hover,
.btn-cancel:link:hover {
  background: white;
  color: #af0600;
}

h1, h6 {
  text-align: center;
  width: 100%;
}

.command {
  box-shadow: 0px 2px rgba(200, 200, 200, 0.5);
  padding: 0;
  border-radius: 25px;
}

.command:hover {
  animation-name: command_animation;
  animation-duration: 0.75s;
  animation-direction: normal;
}

@keyframes command_animation {
  0% {
    box-shadow: 0px 2px rgba(200, 200, 200, 0.5);
  }
  15% {
    box-shadow: 2px 2px rgba(200, 200, 200, 0.5);
  }
  30% {
    box-shadow: 0px 2px rgba(200, 200, 200, 0.5);
  }
  45% {
    box-shadow: 0px -2px rgba(200, 200, 200, 0.5);
  }
  60% {
    box-shadow: -2px -2px rgba(200, 200, 200, 0.5);
  }
  75% {
    box-shadow: -2px 0px rgba(200, 200, 200, 0.5);
  }
  90% {
    box-shadow: -2px 2px rgba(200, 200, 200, 0.25);
  }
  100% {
    box-shadow: 0px 2px rgba(200, 200, 200, 0.25);
  }
}
#command-CONFIRMED {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #4ebd04 0%, #b5e605 100%);
  padding: 0;
}

#command-CANCELED {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background: linear-gradient(135deg, #c20c02 0%, #f2b602 100%);
  padding: 0;
  width: 100%;
  height: 100%;
}

.command-info {
  width: 100%;
}

.command-info-wrapper {
  padding-left: 10%;
}

.command-info-wrapper div {
  width: 100%;
}

.command-info-wrapper div span {
  text-transform: uppercase;
}

.command-info-wrapper ul {
  list-style-type: square;
}

.button-div {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.command-info-wrapper div a {
  width: 50%;
  background: linear-gradient(135deg, #ff554f 0%, #af0600 100%);
  color: white;
  padding: 1% 2%;
  border-radius: 25px;
}

.hidden {
  display: none;
}

.command-title {
  text-align: center;
}

h5 {
  width: 100%;
}
