@import "color.css";
.contact-div {
  padding-top: 5%;
  padding-bottom: 5%;
  background: linear-gradient(135deg, #ff554f 0%, #af0600 100%);
  color: white;
  margin-top: 2%;
  margin-bottom: 2%;
}

.contact-div h3 {
  text-align: center;
}

.contact-div .form-control {
  background-color: transparent;
  color: white;
  margin: 5% 0%;
  border: 0;
  border-bottom: 1px solid white;
}

.submit-group {
  text-align: center;
}

.btn-form {
  background-color: white;
  color: var(--color-button-pri);
  border: 1px solid var(--color-button-pri);
  border-radius: 20px;
  padding: 1% 6%;
  text-align: center;
}

.btn-form:hover {
  background-color: var(--color-button-pri);
  color: white;
  border: 1px solid #ff554f;
}

.form-control::placeholder {
  color: white;
}

.contactus-div {
  padding-top: 5%;
  padding-bottom: 5%;
  border: 1px solid var(--color-border-alt);
  border-left: 0;
  margin-top: 2%;
  margin-bottom: 2%;
}

.contactus-div h3 {
  position: relative;
}

.contactus-div h3:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10%;
  height: 3px;
  background: var(--color-button-pri);
  content: "";
}

.dbox {
  margin-bottom: 10%;
  position: relative;
}

.contactus-div .dbox .text {
  width: calc(100% - 50px);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
}

.contactus-div .dbox p {
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.contactus-div .dbox p a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.contactus-div .dbox span {
  color: black;
}

.address-icon {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
