@import "color.css";

::selection {
    background-color: var(--color-button-pri);
}

.form-control:focus{
    box-shadow: 0 0 10px var(--color-border);
}

@font-face {
    font-family: 'crete-round';
    src: url('../Fonts/abigral-vmoel-webfont.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

h1, h2, h3, h4, p {
    font-family: 'crete-round'
}

a:link, a:visited, a:hover {
    color: black;
}
