@charset "UTF-8";
@import "color.css";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);
/*
    General
*/
.row {
  width: 100%;
  margin-left: 0;
}

/*
    Slogan
*/
.slogan-div {
  width: 100%;
  background-image: url("../img/home/slogan-pattern2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.img-slogan {
  display: none;
  width: 100%;
  aspect-ratio: 2.8/1;
  margin-top: 15%;
  margin-bottom: 10%;
}

@media (min-width: 900px) {
  .img-slogan {
    display: initial;
  }
}
.first-text {
  padding: 5% 15%;
  margin-top: 15%;
  margin-bottom: 5%;
  text-align: center;
  color: var(--color-text);
}

.first-text h2,
.first-text h4 {
  color: #3c3c3c;
}

/*
    Sponsor
*/
.sponsor-div {
  background-color: var(--color-button-sec);
  width: 100%;
}

.sp-text {
  padding: 5%;
  color: white;
  text-align: center;
}

.sp-text h4 {
  color: white;
}

.sponsor-image {
  text-align: center;
  width: 100%;
  margin: 2%;
}

.sponsor-img {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  width: 75%;
  aspect-ratio: 1/1;
  margin-bottom: 10%;
  padding: 5%;
}

.sponsor-img:hover {
  background-color: white;
}

/*
    Feature
*/
.feature-link-title {
  margin-top: 5%;
  text-align: center;
}

.feature-link-title-prod {
  margin-top: 15px;
  text-align: center;
}

.feature-link {
  margin-top: 8%;
  text-align: center;
}

@media (min-width: 900px) {
  .feature-link  {
    margin-top: 2%;
  }
}
.feature-button,
.feature-button:visited,
.feature-button:link {
  position: relative;
  text-decoration: none;
  background-color: white;
  padding: 2% 10%;
  border-radius: 20px;
  transition: all 0.25s ease;
}

.feature-button:hover,
.feature-button:visited:hover,
.feature-button:link:hover {
  text-decoration: none;
  color: white;
}

#driver {
  color: var(--color-button-sec);
  border: 1px solid var(--color-button-sec);
}

#driver:hover {
  background-color: var(--color-button-sec);
  color: white;
}

#engineer {
  color: #167504;
  border: 1px solid #167504;
}

#engineer:hover {
  background-color: #167504;
  color: white;
}

#technical {
  color: #024b78;
  border: 1px solid #024b78;
}

#technical:hover {
  background-color: #024b78;
  color: white;
}

#principal {
  color: #3b0587;
  border: 1px solid #3b0587;
}

#principal:hover {
  background-color: #3b0587;
  color: white;
}

#powerunit {
  color: #bf6104;
  border: 1px solid #bf6104;
}

#powerunit:hover {
  background-color: #bf6104;
  color: white;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.div-feature {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.feature-image {
  margin-top: 5%;
  margin-bottom: 5%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  aspect-ratio: 1/1;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

#img-product {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  margin-left: auto;
  margin-right: auto;
}

/*
    Other
*/
.basic-text-center {
  color: var(--color-text);
  text-align: center;
}

.ferrari2 {
  background-image: url("../img/teamlogos/FerrariPng.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 125px;
}

.mercedes {
  background-image: url("../img/teamlogos/MercedesPng.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 125px;
}

.redbull2 {
  background-image: url("../img/teamlogos/RedBullPng.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 125px;
}

.alpine {
  background-image: url("../img/teamlogos/AlpinePng.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 125px;
}

.mclaren {
  background-image: url("../img/teamlogos/MclarenPng.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 125px;
}

.alphatauri {
  background-image: url("../img/teamlogos/AlphaTauriPng.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 125px;
}

.astonmartin {
  background-image: url("../img/teamlogos/AstonMartinPng.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 125px;
}

.alfaromeo {
  background-image: url("../img/teamlogos/AlfaRomeoPng.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 125px;
}

.williams {
  background-image: url("../img/teamlogos/WilliamsPng.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 125px;
}

.haas {
  background-image: url("../img/teamlogos/HaasPng.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 125px;
}

.product-row {
  height: 90%;
  padding-top: 10vh;
}

.alonso {
  background-image: url("../img/driversfull/AlonsoFull.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  width: 100%;
}

.verstappen {
  background-image: url("../img/driversfull/VerstappenFull.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  width: 100%;
}

.binotto {
  background-image: url("../img/teamprincipals/2020.Ferrari.Mattias.Binotto.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  width: 100%;
}

.steiner {
  background-image: url("../img/teamprincipals/2021.Haas.Guenther.Steiner.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  width: 100%;
}

.ferrari {
  background-image: url("../img/teamlogos/FerrariPng.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  width: 100%;
}

.redbull {
  background-image: url("../img/teamlogos/RedBullPng.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  width: 100%;
}

.team-logo-row {
  display: flex;
  height: 25vh !important;
}

.team-logos {
  background-image: url("../img/teamlogos/teamlogos.jpg");
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.spaimage {
  background-image: url("../img/f1pictures/SpaWet.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
}

.circuitimage {
  background-image: url("../img/f1pictures/Circuit_Image.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.hamilton-team {
  background-image: url("../img/f1pictures/HamiltonTeam.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.name-product {
  font-size: 150%;
  padding-top: 2vh;
}

.price-product {
  font-size: 130%;
  padding-top: 0.5vh;
}

/*.product {
    background-color: #FFC170;
    padding-top: 3vh;
    border-color: var(--color-background-sec);
    height: 70vh;
    padding-right: 2px !important;
    padding-left: 2px !important;
}*/
.product-white {
  background-color: #EEEEE9;
  padding-top: 3vh;
  border-color: var(--color-background-sec);
  height: 70vh;
  padding-right: 2px !important;
  padding-left: 2px !important;
}

.product-box-outline {
  height: 95%;
  background-color: white;
  display: flex;
  align-items: center;
}

.fernando {
  background-image: url("../img/products/drivers/FernandoAlonso.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  height: 60%;
  width: 90%;
}

.max {
  background-image: url("../img/products/drivers/MaxVerstappen.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  height: 60%;
  width: 90%;
}

.mattia {
  background-image: url("../img/products/principals/MattiaBinotto.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  height: 60%;
  width: 90%;
}

.guenther {
  background-image: url("../img/products/principals/GuentherSteiner.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  height: 60%;
  width: 90%;
}

.redbullpowertrains {
  background-image: url("../img/products/powerunits/RedBullPowertrains.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  height: 60%;
  width: 90%;
}

.ferrariengines {
  background-image: url("../img/products/powerunits/FerrariEngines.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  height: 60%;
  width: 90%;
}

.product-name {
  padding-top: 1.5vh;
  text-align: center;
}

.product-description {
  padding-top: 0.2vh;
  text-align: center;
  padding-right: 5px;
  padding-left: 5px;
}

.product-box {
  height: 97%;
  width: 97%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--color-background-sec);
}

.line {
  /*color: var(--color-line);*/
}

.item-box {
  background-color: white;
  padding-top: 2vh;
}

.red-border {
  border-color: var(--color-background-sec);
}

.display-flex {
  display: flex;
}

.square-white {
  padding: 5%;
  aspect-ratio: 1/1;
  position: relative;
  /* If you want text inside of it */
  background-color: #EEEEE9;
}

.square-gray {
  padding: 5%;
  aspect-ratio: 1/1;
  position: relative;
  /* If you want text inside of it */
  background-color: #A89A8A;
}

.square-gold {
  padding: 5%;
  aspect-ratio: 1/1;
  position: relative;
  /* If you want text inside of it */
  background-color: #FFC170;
}

.square-green {
  padding: 5%;
  aspect-ratio: 1/1;
  position: relative;
  /* If you want text inside of it */
  background-color: #99C2A5;
}

.effect {
  font-size: larger;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  background-color: var(--color-background-sec);
  padding: 5%;
  width: 100%;
  overflow: hidden;
  border-radius: 25px;
}

/* effect-3 styles */
.effect.effect-3 {
  transition: all 0.2s linear 0s;
}
.effect.effect-3:before {
  content: "\f5e4";
  color: black;
  font-family: FontAwesome;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0%;
  left: -100%;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 30px;
  transition: all 0.2s linear 0s;
}
.effect.effect-3:hover {
  text-indent: 50%;
}
.effect.effect-3:hover:before {
  top: 0;
  left: 0;
  text-indent: 0;
}

input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 1px solid black;
}
