@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);
@import "color.css";
@import "ProductList.css";
/*
    General
*/
.row {
  width: 100%;
  margin-left: 0;
}

/*
    Slogan
*/
.slogan-div {
  width: 100%;
  background-image: url("../img/home/slogan-pattern2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.img-slogan {
  display: none;
  width: 100%;
  aspect-ratio: 2.8/1;
  margin-top: 15%;
  margin-bottom: 10%;
}

@media (min-width: 900px) {
  .img-slogan {
    display: initial;
  }

  .feature-link  {
    margin-top: 2%;
  }

  .feature-button-cat {
    width: 50%;
  }

  #img-product p {
    height: 40%;
  }
}
.first-text {
  padding: 5% 15%;
  margin-top: 15%;
  margin-bottom: 5%;
  text-align: center;
  color: var(--color-text);
}

.first-text h2,
.first-text h4 {
  color: #3c3c3c;
}

/*
    Sponsor
*/
.sponsor-div {
  background-color: var(--color-button-sec);
  width: 100%;
}

.sp-text {
  padding: 5%;
  color: white;
  text-align: center;
}

.sp-text h4 {
  color: white;
}

.sponsor-image {
  text-align: center;
  width: 100%;
  margin: 2%;
}

.sponsor-img {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  width: 75%;
  aspect-ratio: 1/1;
  margin-bottom: 10%;
  padding: 5%;
}

.sponsor-img:hover {
  background-color: white;
}
