@{
    ViewData["Title"] = "About Us Page";
}

@section Styles {
<link rel="stylesheet" href="~/sass/about.css" />
}

<div class="row">
    <h1>The people who created LeMadrid Corp</h1>
</div>
<div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 creator">
            <div class="creator-box-outline">
                <div class="karl">

                </div>
                <h2>Karl Mainville</h2>
                <div>

                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 creator">
            <div class="creator-box-outline">
                <div class="karl">

                </div>
                <h2>Karl Mainville</h2>
                <div>

                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 creator">
            <div class="creator-box-outline">
                <div class="karl">

                </div>
                <h2>Karl Mainville</h2>
                <div>

                </div>
            </div>
        </div>
</div>

