@{
    ViewData["Title"] = "About Us Page";
}

@section Styles {
<link rel="stylesheet" href="~/sass/about.css" />
}

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <h1 class="title">The people who created LeMadrid Corp</h1>
    </div>
</div>
<div class="row">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 creator">
            <div class="creator-box-outline">
                <div class="creator-box">
                <div class="karl">

                </div>
                <h2 class="creator-name">Karl Mainville</h2>
                <h3 class="creator-description">Developer</h3>
                <p class="creator-description">Methodical, rigorous and always attentive, Karl is a very important person to have in a team. Just don't ask him to take care of users when he creates a website</p>
            </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 creator">
            <div class="creator-box-outline">
                <div class="creator-box">
                <div class="maxime">

                </div>
                <h2 class="creator-name">Maxime Lefebvre</h2>
                <h3 class="creator-description">Developer</h3>
                <p class="creator-description">Despite his slight lack of punctuality, Maxime always gives tons of ideas and they are often good. You could say that with him, it's always risk-free.</p>
            </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 creator">
            <div class="creator-box-outline">
                <div class="creator-box">
                <div class="louis">

                </div>
                <h2 class="creator-name">Louis Garceau</h2>
                <h3 class="creator-description">Developer</h3>
                <p class="creator-description">Always ready to perform one of his famous "pop-offs" when everything seems to be working, Louis always gives his all to accomplish the task at hand.</p>
            </div>
            </div>
        </div>
</div>
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 row no-gutters location">
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 total-white-link">
            <h4>Address:</h4>
            <p>
                3000 Av. Boullé, <br />
                Saint-Hyacinthe, QC J2S 1H9
            </p>
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 total-white-link">
            <h4>Email:</h4>
            <p>
                LeMadrid@entreprise.com
            </p>
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 total-white-link">
            <h4>Call Us</h4>
            <p>
                (450) 773-6800
            </p>
        </div>
    </div>
</div>