@{
    ViewData["Title"] = "About Us Page";
}

@section Styles {
<link rel="stylesheet" href="~/sass/about.css" />
}

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <h1 class="title">The people who created LeMadrid Corp</h1>
    </div>
</div>
<div class="row">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 creator">
            <div class="creator-box-outline">
                <div class="karl">

                </div>
                <h2 class="creator-name">Karl Mainville</h2>
                <h3 class="creator-description">aaaaaaaa</h3>
                <p class="creator-description">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 creator">
            <div class="creator-box-outline">
                <div class="maxime">

                </div>
                <h2 class="creator-name">Maxime Lefebvre</h2>
                <h3 class="creator-description">aaaaaaaaaaaa</h3>
                <p class="creator-description">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 creator">
            <div class="creator-box-outline">
                <div class="louis">

                </div>
                <h2 class="creator-name">Louis Garceau</h2>
                <h3 class="creator-description">aaaaaaaaaaaaaa</h3>
                <p class="creator-description">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
            </div>
        </div>
</div>
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 row no-gutters location">
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 total-white-link">
            <h4>Address:</h4>
            <p>
                3000 Av. Boullé, <br />
                Saint-Hyacinthe, QC J2S 1H9
            </p>
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 total-white-link">
            <h4>Email:</h4>
            <p>
                LeMadrid@entreprise.com
            </p>
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 total-white-link">
            <h4>Call Us</h4>
            <p>
                (450) 773-6800
            </p>
        </div>
    </div>
</div>