@{
    ViewData["Title"] = "Contact Us Page";
}

@section Styles {
    <link rel="stylesheet" href="~/sass/ContactForm.css" />
}

<div class="row">
    <div class="col-0 col-sm-0 col-md-1 col-lg-1 col-xl-1"></div>
    <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 row justify-content-center">
        <vc:contact-form></vc:contact-form>
    </div>
    <div class="col-0 col-sm-0 col-md-1 col-lg-1 col-xl-1"></div>
</div>