@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
<link rel="stylesheet" href="~/sass/home.css" />
}

<div class="row">
    <div class="square-white basic-text col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <h1 class="basic-text-center" style="padding-top:25%">Need a team?<br> We've got you all covered.</h1>
        <h2 class="basic-text-center">Sign up right now to get started.</h2>
        <h4 class="basic-text-center">The best teams and over 500 000 others have done the same.</h4>
    </div>
    <div class="circuitimage square-gray col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
    </div>
</div>
<div class="row">
    <div class="square-gold col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
    </div>
    <div class="square-green col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
    </div>
</div>
<div class="text-center">
    @*<h1 class="display-4 basic-text">Welcome</h1>*@
    <h1 class="basic-text text-margin">Need a team?<br> We've got you all covered.</h1>
    <hr class="line" />
    <div class="text-margins">
        <h2 class="basic-text">Sign up right now to get started.</h2>
        <h2 class="basic-text">The best teams and over 500 000 others have done the same.</h2>
    </div>
    <div class="spaimage"></div>
    <div class="team-logo-row">
        <div class="redbull"></div>
        <div class="ferrari"></div>
        <div class="mercedes"></div>
        <div class="alpine"></div>
        <div class="mclaren"></div>
        <div class="alfaromeo"></div>
        <div class="haas"></div>
        <div class="alphatauri"></div>
        <div class="astonmartin"></div>
        <div class="williams"></div>
    </div>
</div>