@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
<link rel="stylesheet" href="~/sass/home.css" />
<link rel="stylesheet" href="~/sass/about.css" />
}

@model ContactClientForm

<div class="row">
    <div class="square-white basic-text col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <h1 class="basic-text-center" style="padding-top:10%">Fast teams, fast cars. <br> Your winning team starts here.</h1>
        <h2 class="basic-text-center">Sign up now to get started.</h2>
        <h4 class="basic-text-center">The best teams and over 500 000 others have done the same.</h4>

        <div class="team-logo-row team-logos"></div>
    </div>
    <div class="square-gold col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h1 class="basic-text-center">Popular drivers</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 product">
                <div class="product-box-outline">
                    <div class="product-box">
                        <div class="fernando">
                        </div>
                        <h3 class="product-name">Fernando Alonso</h3>
                        <h4 class="product-description">20,000,000$</h4>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 product">
                <div class="product-box-outline">
                    <div class="product-box">
                        <div class="max">
                        </div>
                        <h3 class="product-name">Max Verstappen</h3>
                        <h4 class="product-description">25,000,000$</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="square-gold col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <div>
            <h2 style="text-align:center">Featured products</h2><br />
            <a class="effect effect-3" href="Product/List?CategoryFilter=DRIVER" title="Learn More">Pilots</a>
            <a class="effect effect-3" href="Product/List?CategoryFilter=PRINCIPAL" title="Learn More">Team principals</a>
            <a class="effect effect-3" href="Product/List?CategoryFilter=RACEENGINEER" title="Learn More">Engineers</a>
            <a class="effect effect-3" href="Product/List?CategoryFilter=TECHNICALCHIEF" title="Learn More">Mechanics</a>
            <a class="effect effect-3" href="Product/List?CategoryFilter=POWERUNIT" title="Learn More">Power units</a>
        </div>
    </div>
    <div class="square-white col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h1 class="basic-text-center">Popular drivers</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 product-white">
                <div class="product-box-outline">
                    <div class="product-box">
                        <div class="mattia">
                        </div>
                        <h3 class="product-name">Mattia Binotto</h3>
                        <h4 class="product-description">3,000,000$</h4>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 product-white">
                <div class="product-box-outline">
                    <div class="product-box">
                        <div class="guenther">
                        </div>
                        <h3 class="product-name">Guenther Steiner</h3>
                        <h4 class="product-description">1,000,000$</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="square-white circuitimage col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
    </div>
    <div class="square-gold col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h1 class="basic-text-center">Popular power units</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 product">
                <div class="product-box-outline">
                    <div class="product-box">
                        <div class="redbullpowertrains">
                        </div>
                        <h3 class="product-name">Red Bull Powertrains</h3>
                        <h4 class="product-description">50,000,000$</h4>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 product">
                <div class="product-box-outline">
                    <div class="product-box">
                        <div class="ferrariengines">
                        </div>
                        <h3 class="product-name">Ferrari engines</h3>
                        <h4 class="product-description">40,000,000$</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="square-gold col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <h1 style="text-align:center">Interested? Talk to an agent!</h1>
        <h4 style="text-align:center">Complete de form below and we'll reach out to you in no time</h4>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <form asp-action="ContactClientTemp">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="FullName" class="control-label">Full Name</label>
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Message" class="control-label"></label>
                        <textarea asp-for="Message" class="form-control"></textarea>
                        <span asp-validation-for="Message" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit!" class="btn btn-primary" disabled />
                    </div>
                </form>

                @section Scripts {
                @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
                }
                }
            </div>
        </div>
    </div>
    <div class="square-white hamilton-team col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
    </div>
</div>
<div class="text-center">
    <div class="spaimage"></div>
</div>