@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/sass/home.css" />
    <link rel="stylesheet" href="~/sass/about.css" />
    <link rel="stylesheet" href="~/sass/ContactForm.css" />
}

    <div class="row">
        <div class="slogan-div col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 row">
            <div class="col-0 col-sm-0 col-md-1 col-lg-1 col-xl-1"></div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="first-text"
                 data-aos="flip-up">
                    <h1>Fast teams, fast cars. <br> Your winning team starts here.</h1>
                    <h2>Sign up now to get started.</h2>
                    <h4>The best teams and over 500 000 others have done the same.</h4>
                </div>
            </div>
            <div class="col-0 col-sm-0 col-md-7 col-lg-7 col-xl-7"
             data-aos="fade-left">
                <img class="img-slogan" src="~/img/home/slogan-logo.png" loading="lazy" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="feature-link-title">
                <h4>Featured products</h4>
            </div>
        </div>

        <div class="col-0 col-sm-0 col-md-1 col-lg-1 col-xl-1"></div>
        <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
            <div class="feature-link"
            data-aos="zoom-in-up">
                <a id="driver" class="feature-button" asp-area="" asp-controller="Product" asp-action="List" asp-route-CategoryFilter="DRIVER">Driver</a>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
            <div class="feature-link"
             data-aos="zoom-in-up">
                <a id="engineer" class="feature-button" asp-area="" asp-controller="Product" asp-action="List" asp-route-CategoryFilter="RACEENGINEER">Race Engineer</a>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
            <div class="feature-link"
             data-aos="zoom-in-up">
                <a id="technical" class="feature-button" asp-area="" asp-controller="Product" asp-action="List" asp-route-CategoryFilter="TECHNICALCHIEF">Technical Chief</a>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
            <div class="feature-link"
             data-aos="zoom-in-up">
                <a id="principal" class="feature-button" asp-area="" asp-controller="Product" asp-action="List" asp-route-CategoryFilter="PRINCIPAL">Principal</a>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
            <div class="feature-link"
             data-aos="zoom-in-up">
                <a id="powerunit" class="feature-button" asp-area="" asp-controller="Product" asp-action="List" asp-route-CategoryFilter="POWERUNIT">Power Unit</a>
            </div>
        </div>
        <div class="col-0 col-sm-0 col-md-1 col-lg-1 col-xl-1"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"> <hr /> </div>
    </div>
    <div class="row"> @* Features List *@
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="feature-link-title-prod">
                    <h4>Popular Drivers</h4>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 row">
                <vc:features-list type="DRIVER"></vc:features-list>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"> <hr /> </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="feature-link-title-prod">
                    <h4>Popular Race Engineers</h4>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 row">
                <vc:features-list type="ENGINEER"></vc:features-list>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"> <hr /> </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="feature-link-title-prod">
                    <h4>Popular Technical Chiefs</h4>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 row">
                <vc:features-list type="TECHNICAL"></vc:features-list>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"> <hr /> </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="feature-link-title-prod">
                    <h4>Popular Principals</h4>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 row">
                <vc:features-list type="PRINCIPAL"></vc:features-list>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"> <hr /> </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="feature-link-title-prod">
                    <h4>Popular Power Units</h4>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 row">
                <vc:features-list type="POWERUNIT"></vc:features-list>
            </div>
        </div>
    </div>
    <div class="row"> @* Contact Form *@
        <div class="col-0 col-sm-0 col-md-3 col-lg-3 col-xl-3"></div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 row justify-content-center">
            <vc:contact-form></vc:contact-form>
        </div>
        <div class="col-0 col-sm-0 col-md-3 col-lg-3 col-xl-3"></div>
    </div>
    <div class="row">
        <div class="sponsor-div col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 row">
            <div class="col-0 col-sm-0 col-md-3 col-lg-3 col-xl-3"></div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="sp-text">
                    <h4>The site is used and approved by these teams:</h4>
                </div>
            </div>
            <div class="col-0 col-sm-0 col-md-3 col-lg-3 col-xl-3"></div>

            <div class="col-0 col-sm-0 col-md-1 col-lg-1 col-xl-1"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                <div class="sponsor-image" onclick="location.href='https://www.mercedesamgf1.com/en/'"
                 data-aos="zoom-in">
                    <img class="sponsor-img" src="~/img/home/mercedes-logo.png" />
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                <div class="sponsor-image" onclick="location.href='https://www.ferrari.com/en-CA/formula1'"
                 data-aos="zoom-in">
                    <img class="sponsor-img" src="~/img/home/ferrari-logo.png" />
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                <div class="sponsor-image" onclick="location.href='https://www.redbullracing.com/int-en'"
                 data-aos="zoom-in">
                    <img class="sponsor-img" src="~/img/home/redbull-logo.png" />
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                <div class="sponsor-image" onclick="location.href='https://www.alpine-cars.co.uk/f1-team.html'"
                 data-aos="zoom-in">
                    <img class="sponsor-img" src="~/img/home/alphine-logo.png" />
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                <div class="sponsor-image" onclick="location.href='https://www.mclaren.com/racing/'"
                 data-aos="zoom-in">
                    <img class="sponsor-img" src="~/img/home/mclaren-logo.png" />
                </div>
            </div>
            <div class="col-0 col-sm-0 col-md-1 col-lg-1 col-xl-1"></div>
            <div class="col-0 col-sm-0 col-md-1 col-lg-1 col-xl-1"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                <div class="sponsor-image" onclick="location.href='https://www.astonmartinf1.com/en-GB/'"
                 data-aos="zoom-in">
                    <img class="sponsor-img" src="~/img/home/aston-logo.png" />
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                <div class="sponsor-image" onclick="location.href='https://scuderia.alphatauri.com/en/'"
                 data-aos="zoom-in">
                    <img class="sponsor-img" src="~/img/home/alpha-logo.png" />
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                <div class="sponsor-image" onclick="location.href='https://www.sauber-group.com/motorsport/formula-1/'"
                 data-aos="zoom-in">
                    <img class="sponsor-img" src="~/img/home/alfa-logo.png" />
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                <div class="sponsor-image" onclick="location.href='https://www.haasf1team.com/'"
                 data-aos="zoom-in">
                    <img class="sponsor-img" src="~/img/home/haas-logo.png" />
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                <div class="sponsor-image" onclick="location.href='https://www.williamsf1.com/'"
                 data-aos="zoom-in">
                    <img class="sponsor-img" src="~/img/home/williams-logo.png" />
                </div>
            </div>
            <div class="col-0 col-sm-0 col-md-1 col-lg-1 col-xl-1"></div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            $('.feature-button')
                .on('mouseenter', function (e) {
                    var parentOffset = $(this).offset(),
                        relX = e.pageX - parentOffset.left,
                        relY = e.pageY - parentOffset.top;
                    $(this).find('span').css({ top: relY, left: relX })
                })
                .on('mouseout', function (e) {
                    var parentOffset = $(this).offset(),
                        relX = e.pageX - parentOffset.left,
                        relY = e.pageY - parentOffset.top;
                    $(this).find('span').css({ top: relY, left: relX })
                });
        });
    </script>