@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
<link rel="stylesheet" href="~/sass/home.css" />
}

<div class="row">
    <div class="square-white basic-text col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <h1 class="basic-text-center" style="padding-top:25%">Fast teams, fast cars. <br> Your winning team start here.</h1>
        <h2 class="basic-text-center">Sign up now to get started.</h2>
        <h4 class="basic-text-center">The best teams and over 500 000 others have done the same.</h4>

        <div class="team-logo-row team-logos"></div>

        @*        <div class="team-logo-row">
            <div class="redbull"></div>
            <div class="ferrari"></div>
            <div class="mercedes"></div>
            <div class="alpine"></div>
            <div class="mclaren"></div>
            <div class="alfaromeo"></div>
            <div class="haas"></div>
            <div class="alphatauri"></div>
            <div class="astonmartin"></div>
            <div class="williams"></div>
            </div>*@
    </div>
    <div class="square-gold col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h1 class="basic-text-center">Popular drivers</h1>
            </div>
        </div>
        <div class="row product-row">
            <div class="item-box col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
                <div class="alonso">
                </div>
                <div>
                    <p class="basic-text-center name-product">Fernando<br>Alonso</p>
                </div>
                <div>
                    <p class="basic-text-center price-product">20,000,000.00$</p>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
            </div>
            <div class="item-box col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
                <div class="verstappen">
                </div>
                <div>
                    <p class="basic-text-center name-product">Max<br>Verstappen</p>
                </div>
                <div>
                    <p class="basic-text-center price-product">40,000,000.00$</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="square-gold col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <div>
            <h2 style="text-align:center">Featured products</h2><br />
            <a class="effect effect-3" href="#" title="Learn More">Pilots</a>
            <a class="effect effect-3" href="#" title="Learn More">Team principals</a>
            <a class="effect effect-3" href="#" title="Learn More">Engineers</a>
            <a class="effect effect-3" href="#" title="Learn More">Mechanics</a>
            <a class="effect effect-3" href="#" title="Learn More">Power units</a>
        </div>
    </div>
    <div class="square-white col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h1 class="basic-text-center">Popular team principals</h1>
            </div>
        </div>
        <div class="row product-row">
            <div class="item-box col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
                <div class="binotto">
                </div>
                <div>
                    <p class="basic-text-center name-product">Mattia<br>Binotto</p>
                </div>
                <div>
                    <p class="basic-text-center price-product">30,000,000.00$</p>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
            </div>
            <div class="item-box col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
                <div class="steiner">
                </div>
                <div>
                    <p class="basic-text-center name-product">Guenther<br>Steiner</p>
                </div>
                <div>
                    <p class="basic-text-center price-product">15,000,000.00$</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="square-white circuitimage col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
    </div>
    <div class="square-gold col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h1 class="basic-text-center">Popular power units</h1>
            </div>
        </div>
        <div class="row product-row">
            <div class="item-box col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
                <div class="redbull">
                </div>
                <div>
                    <p class="basic-text-center name-product">Red Bull<br>engine</p>
                </div>
                <div>
                    <p class="basic-text-center price-product">100,000,000.00$</p>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
            </div>
            <div class="item-box col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
                <div class="ferrari">
                </div>
                <div>
                    <p class="basic-text-center name-product">Ferrari<br>engine</p>
                </div>
                <div>
                    <p class="basic-text-center price-product">80,000,000.00$</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    @*<h1 class="display-4 basic-text">Welcome</h1>*@
    <h1 class="basic-text text-margin">Need a team?<br> We've got you all covered.</h1>
    <hr class="line" />
    <div class="text-margins">
        <h2 class="basic-text">Sign up right now to get started.</h2>
        <h2 class="basic-text">The best teams and over 500 000 others have done the same.</h2>
    </div>
    <div class="spaimage"></div>
</div>