@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/sass/home.css" />
}

<div class="text-center">
    <h1 class="display-4 basic-text">Welcome</h1>
    <p class="basic-text">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
