@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/sass/home.css" />
}

<div class="">
    <h1 class="display-4 basic-text">Welcome</h1>
    <p class="basic-text">In need of your dream team? <br> We've got you covered</a>.</p>
</div>
