@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
<link rel="stylesheet" href="~/sass/home.css" />
}

<div class="display-flex">
    <div class="square-white basic-text">
        <div class="text-margins">
        <h1 class="basic-text slogan-text">Need a team?<br> We've got you all covered.</h1>
        <div class="slogan-text">
            <h2 class="basic-text">Sign up right now to get started.</h2>
            <h4 class="basic-text">The best teams and over 500 000 others have done the same.</h4>
        </div>
        </div>
    </div>
    <div class="circuitimage">

    </div>
</div>
<div class="display-flex">
    <div class="square-gold">

    </div>
    <div class="square-white">

    </div>
</div>
<div class="text-center">
    @*<h1 class="display-4 basic-text">Welcome</h1>*@
    <h1 class="basic-text text-margin">Need a team?<br> We've got you all covered.</h1>
    <hr class="line" />
    <div class="text-margins">
    <h2 class="basic-text">Sign up right now to get started.</h2>
    <h2 class="basic-text">The best teams and over 500 000 others have done the same.</h2>
    </div>
    <div class="spaimage"></div>
    <div class="team-logo-row">
        <div class="redbull"></div>
        <div class="ferrari"></div>
        <div class="mercedes"></div>
        <div class="alpine"></div>
        <div class="mclaren"></div>
        <div class="alfaromeo"></div>
        <div class="haas"></div>
        <div class="alphatauri"></div>
        <div class="astonmartin"></div>
        <div class="williams"></div>
    </div>
</div>