@model CartInfoVM

<div class="title">
    <h3>Summary</h3>
</div>
<hr class="mr-4" />
<div class="text-white d-flex justify-content-between mb-4">
    <h5 class="text-uppercase">Total: </h5>
    <h5>@Model.GetTotal</h5>
</div>
<div class="text-white d-flex justify-content-between mb-4">
    <h5 class="text-uppercase">Discount: </h5>
    <h5>@Model.GetTotalDiscount</h5>
</div>
<div class="text-white d-flex justify-content-between mb-4">
    <h5 class="text-uppercase">Subtotal: </h5>
    <h5>@Model.GetTotalWithDiscount</h5>
</div>
<hr />
<div class="text-white d-flex justify-content-between mb-4">
    <h5 class="text-uppercase">Final Price: </h5>
    <h5>@Model.GetTotalWithTaxes</h5>
</div>
<div class="button-div text-white justify-content-center mb-4">
    @if (Model.CountProduct > 0) {
        <div class="nav-item col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                            <div class="btn-login button-header total-white-link" onclick="callTheCart()">
                                <div class="text-container">
                                    <div class="centered-element">
                                        Proceed to Checkout
                                    </div>
                                </div>
                            </div>
                            <a id="command-link" style="display:none; width:auto%; height: 0%" asp-area="" asp-controller="Product" asp-action="Command" asp-route-ProductId=""></a>
        </div>
    }
    else {
        <button class="checkout-button" disabled>Proceed to Checkout</button>
    }
</div>


<script type="text/javascript">
    function getMyCart() {
            var products = window.localStorage.Products;
            if (products != null) {
                var array = JSON.parse(products);
                return array;
            }
            return null;
        }

    function callTheCart() {
            var rep = getMyCart();

            if (rep == null)
                rep = '';

            $('#command-link').attr('href', '/Product/Command?ProductId=' + JSON.stringify(rep));
            document.getElementById('command-link').click();
        }
</script>