@model PaginatedList<Drivers>

@if (ViewData["show"].ToString() == "true")
{
    if (!ViewBag.Verification) {
        <p>No pilots availables!</p>
    }
    else {
        @foreach (Drivers item in Model) {
            <li class="list-group-item">
                @item.FirstName @item.LastName
            </li>
        }
        
    }
}
