@model IEnumerable<Engineers>

@if (ViewData["show"].ToString() == "true")
{
    @if (!ViewBag.Verification) {
        <p>No engineers availables!</p>
    }
    else {
        @foreach (Engineers item in Model) {
            <li class="list-group-item">
                @item.FirstName @item.LastName
            </li>
        }
    }
}
