@model IEnumerable<TechnicalChiefs>

@if (!Model.Any()) {
    <p>No engineers availables!</p>
}
else {
    @foreach (TechnicalChiefs item in Model)
    {
        <li class="list-group-item">
            @item.FirstName @item.LastName
        </li>
    }
}
