@model IEnumerable<Mechanics>

@if (!Model.Any()) {
    <p>No mechanics avaiables!</p>
}
else {
    @foreach (Mechanics item in Model)
    {
        <li class="list-group-item">
            @item.FirstName @item.LastName
        </li>
    }
}
