@model IEnumerable<PowerUnits>

@if (ViewData["show"].ToString() == "true") 
{
    @if (!ViewBag.Verification) {
        <p>No Power units availables!</p>
    }
    else {
        @foreach (PowerUnits item in Model) {
            <li class="list-group-item">
                @item.Name
            </li>
        }
    }
}
